@import "../../sass/variables";

.home-view {

  .content-block {
    margin: 2em 1em;
  }

  .introduction {
    font-size: 1.1em;
  }

  .alert-info {
    margin: 2em 0em;
  }

  .step-by-step {

    .step {
      margin-top: 1.2em;

      .number-component {
        display: block;
        float: left;
        margin-right: 1em;
      }
    }
  }

}
