$small-device: 500px;
$normal-device: 500px;

//@media screen and (max-width: $small-device) {
//  width: 100px;
//  float: none;
//}
//@media screen and (min-width: $large-device) {
//  float: right;
//}

$gray1: #fcfcfc;
$gray2: #A9A9A9;
$gray3: #616c74;
$gray4: #2d2d2d;
$gray5: rgb(33, 37, 41);

$blue1: rgba(23, 42, 58, 1);
$blue2: rgba(19, 60, 85, 1);
$blue3: rgba(56, 111, 164, 1);
$blue4: #007acc;
$blue5: #0099ff;

$orange1: #ee913a;
$orange2: #ffbb00;
$orange3: #ffd275;

$green1: #4b7f52;
$green2: #76c27f;

