<b-container class="check-document-view">

    <h1>Check a document signature</h1>

    <b-alert show>
        <span class="fa fa-info-circle"></span>
        Here you can check a document signature. You have to upload documents first on "NEW" tab.
    </b-alert>

    <div v-if="documents && documents.length > 0">
        <b-form>

            <b-form-group label="Please select the original document you want to use"
                          label-for="originalDocument"
                          description="Select a document to compare to.">

                <b-form-select v-model="form.originalDocument" :options="options" class="mb-3"
                               id="originalDocument" required/>

            </b-form-group>

            <b-form-group label="Document to compare"
                          label-for="checkDocumentInput1"
                          description="Select a document to upload on server and check it.">
                <b-form-file v-model="form.document" :state="Boolean(form.document)"
                             placeholder="Click here to select a file to upload"></b-form-file>
                </input>
            </b-form-group>

            <b-button @click="onSubmit" type="button" variant="primary">Submit</b-button>

        </b-form>

        <validation-result v-if="validationResult" :result="validationResult"></validation-result>

        <div class="please-select" v-else>Please select a document and verify it.</div>

    </div>

    <div class="no-docs-found" v-else>
        No documents found !
    </div>

</b-container>
