@import "../../sass/variables";

.check-document-view {

  .validation-result {
    margin-top: 2em;
  }

  .no-docs-found {
    margin: 5em;
    text-align: center;
    font-weight: bolder;
  }

  .please-select {
    margin: 2em 0em;
    font-weight: bolder;
  }

}
