<b-container class="documents-view">

    <h1>Documents</h1>

    <b-alert show>
        <span class="fa fa-info-circle"></span>
        Here you can view upload documents previously, delete
        them or download them. To upload a document, go to the tab "New"
    </b-alert>

    <div v-if="documents && documents.length">
        <document v-for="doc in documents" :document="doc" :onDelete="onDelete"></document>
    </div>

    <div v-else>
        No documents found.
    </div>

</b-container>
